.wrapper{
    background-color: var(--clr-neutral-100);
    padding:2rem
}
.address{
    font-size: var(--fs-700);
}
.location{
    display: flex;
    align-items: center;
}
.location-txt{
    flex-basis: 33.33%;
}
.map-wrapper{
    flex-basis: 66.66%;
}
.map-img{
    width:35em;
    height:auto;
    object-fit: cover;
    border: 3px solid black;
    border-radius: var(--size-200);
}
.social-wrapper{
    display: flex;
    flex-direction: column;
}
.slinks{
    display: flex;
}
.social-link{
    display: flex;
    color:black;
    font-size: 1.25em;
    text-decoration: inherit;
}